<%= form_for :rate, url: rates_path do |f| %>
    <% if @rate.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@rate.errors.count, "error") %> prohibited this app from checking rates:</h2>
 
    <ul>
    <% @rate.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


    <div class="field">
        <%= f.text_field :weight, :placeholder => "Weight (ounces)" %>
    </div>

    <div class="field">
        <%= f.country_select :country, ["United States"] %>
        <%#= f.text_field :country, :placeholder => "Country" %>
    </div>

    <br />
    <p>The following fields only apply to US destinations</p>

    <div class="field">
        <%= f.select :state, options_for_select(us_states) %>
    </div>

    <div class="field">
        <%= f.text_field :city, :placeholder => "City" %>
    </div>

    <div class="field">
        <%= f.text_field :zip, :placeholder => "Zip" %>
    </div>

    <div class="action">
        <%= f.submit "Find rates" %>
    </div>
<% end %>