<H1>Package Info</H1>

<p>
  <strong>Weight:</strong>
  <%= @rate.weight %> ounces
</p>

<p>
  <strong>Country:</strong>
  <%= @rate.country %>
</p>
 
 <% if @rate.country == "United States" %>
	<p>
	  <strong>State:</strong>
	  <%= @rate.state %>
	</p>
<% end %>

<% unless @rate.city == "" %>
	<p>
	  <strong>City:</strong>
	  <%= @rate.city %>
	</p>
<% end %>

<% if @rate.country == "United States" %>
	<p>
	  <strong>Zip Code:</strong>
	  <%= @rate.zip %>
	</p>
<% end %>

<h1>Shipping Rates</h1>

<p>
  <strong>UPS:</strong><br />
  <% upsRates = @upsResponse.rates.sort_by(&:price).collect %>
  <% upsRates.each do |rate| %>
  	<%= rate.service_name %>: $<%= rate.price / 100.0 %>
  	<br />

  <% end %>
</p>

<!-- <p>
  <strong>FedEx:</strong> $
  <%#= @fedexRate %>
</p>
-->

<p>
  <strong>USPS:</strong><br />
    <% uspsRates = @uspsResponse.rates.sort_by(&:price).collect %>
  <% uspsRates.each do |rate| %>
  	<%= rate.service_name %>: $<%= rate.price / 100.0 %>
  	<br />

  <% end %>
</p> 


<%= link_to("Back", "/" ) %>
