<H1>Package Info</H1>

<ul>
  <li>
  <p>
    <strong>Weight:</strong>
    <%= pluralize(@rate.weight, "ounce") %> 
  </p>
  </li>

  <li>
  <p>
    <strong>Country:</strong>
    <%= @rate.country %>
  </p>
  </li>
   
  <% if @rate.country == "United States" %>
    <li>
  	<p>
  	  <strong>State:</strong>
  	  <%= @rate.state %>
  	</p>
    </li>
  <% end %>

  <% unless @rate.city == "" %>
    <li>
  	<p>
  	  <strong>City:</strong>
  	  <%= @rate.city %>
  	</p>
    </li>
  <% end %>

  <% if @rate.country == "United States" %>
    <li>
  	<p>
  	  <strong>Zip Code:</strong>
  	  <%= @rate.zip %>
  	</p>
    </li>
  <% end %>
</ul>

<h1>Shipping Rates</h1>

<p>
  <strong>UPS:</strong><br />
  <ul>
    <% upsRates = @upsResponse.rates.sort_by(&:price).collect %>
    <% upsRates.each do |rate| %>
    	<li><%= rate.service_name %>: $<%= rate.price / 100.0 %></li>
    	<br />
    <% end %>
  </ul>
</p>

 <p>
  <strong>FedEx:</strong><br />
  <ul>
    <% fedexRates = @fedexResponse.rates.sort_by(&:price).collect %>
    <% fedexRates.each do |rate| %>
      <li><%= rate.service_name %>: $<%= rate.price / 100.0 %></li>
      <br />
    <% end %>
  </ul>
</p>


<p>
  <strong>USPS:</strong><br />
  <ul>
    <% uspsRates = @uspsResponse.rates.sort_by(&:price).collect %>
    <% uspsRates.each do |rate| %>
    	<li><%= rate.service_name %>: $<%= rate.price / 100.0 %></li>
    	<br />
    <% end %>
  </ul>
</p> 


<%= link_to("Back", "/" ) %>
